img#imagem-acerto{
    width: 450px;
    height: 250px;
  }
  img#imagem-erro{
    width: 450px;
    height: 250px;
  }
  #botao-fechar{
    justify-content: flex-end;
    display: flex;
    position: relative;
    z-index: 5;
  }
  #header-modal{
    border-bottom:none ;
  }
  .imagem{
    text-align: center;
    margin-top: -50px;
  }


  #caixa-de-pergunta{
    background-color: rgb(7, 78, 4);
    margin-top: 20px;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
  }
  h3{
    display: flex;
    justify-content:center;
    color: #fff;
  }
  #grupo-botao{
    display: flex;
    justify-content:center;
  }
  #botao-resposta{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(77, 161, 77);
    font-weight: bold;
    color: #fff;
  }